@import com.fizzed.rocker.Rocker
@import java.util.List
@import java.util.Collection
@import kotlin.Pair
@import org.ort.school.app.repo.GradeInfoDTO
@import org.ort.school.app.repo.ParentWithChildren

@args (List<Pair<GradeInfoDTO, List<ParentWithChildren>>> degrees, Collection<String> allowedLetters, Collection<Integer> allowedDegrees)

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
@views.head.template()
<body>
@views.nav.template()
<div>
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger"
                   href="#create-degree"><i
                        class="material-icons">add</i></a>
            </div>

            <div id="create-degree" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Добавление класса</h4>
                    <form action="/priv/admin/degrees" class="col s12" method="post">
                        <div class="row">
                            <div class="input-field  col s12">
                                <select name="degreeNo" id="degreeNo" class="validate" required>
                                    <option value="no" selected disabled>Выберите номер класса</option>
                                    @for(degree:allowedDegrees){
                                    <option value="@degree">@degree</option>
                                    }
                                </select>
                                <label for="degreeNo">Номер класса</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field  col s12">
                                <select name="degreeLetter" id="degreeLetter" class="validate" required>
                                    <option value="no" selected disabled>Выберите букву класса</option>
                                    @for(letter:allowedLetters){
                                    <option value="@letter">@letter</option>
                                    }
                                </select>
                                <label for="degreeLetter">Буква класса</label>
                            </div>
                        </div>
                        <input type="hidden" value='@locals.get("csrf")' name="csrf">
                        <div class="row">
                            <div class="col s4 valign-wrapper input-field">
                                <button class="btn waves-effect waves-light" type="submit">Создать
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <ul class="collapsible " data-collapsible="accordion">
                    @for(degree:degrees){
                    <li>
                        <div class="collapsible-header">@degree.getFirst().getFullGradeName()</div>
                        <div class="collapsible-body">
                            <table class="bordered responsive-table">
                                <thead>
                                <tr>
                                    <th>Родитель</th>
                                    <th>Ребёнок</th>
                                </tr>
                                </thead>

                                <tbody>
                                @with(parentsWithChildren=degree.getSecond()){
                                @for(parentWithChildren:parentsWithChildren){
                                @if(parentWithChildren.getParent()!=null){
                                @for((i,child):parentWithChildren.getChildren()){
                                <tr>
                                    @if(i.index()==0){
                                    <td rowspan="@parentWithChildren.getChildren().size()">
                                        @parentWithChildren.getParent().getDisplayName()
                                    </td>
                                    }
                                    <td>@child.getDisplayName()</td>
                                </tr>
                                }
                                }
                                }
                                }
                                </tbody>
                            </table>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
@views.scripts.template()
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selects = document.querySelectorAll('select');
        var instances = M.FormSelect.init(selects);
        var dropdowns = document.querySelectorAll('.dropdown-trigger');
        var instances2 = M.Dropdown.init(dropdowns);
        var modals = document.querySelectorAll('.modal');
        var instances3 = M.Modal.init(modals);
        var elems = document.querySelectorAll('.collapsible');
        var instances4 = M.Collapsible.init(elems);
    });
</script>
</body>
</html>