@import com.fizzed.rocker.Rocker
@import java.util.List
@import java.util.Map
@import java.util.Collection
@import kotlin.Pair
@import org.ort.school.app.repo.GradeInfoDTO
@import org.ort.school.app.repo.ParentWithChildren
@args (List<Pair<GradeInfoDTO, List<ParentWithChildren>>> degrees, Collection<String> allowedLetters, Collection<Integer> allowedDegrees, List<Pair<Integer,String>> existingDegrees)
@extrajs => {
<script src="/webjars/umbrella/2.7.0/umbrella.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var selects = document.querySelectorAll('select');
        M.FormSelect.init(selects);
        var dropdowns = document.querySelectorAll('.dropdown-trigger');
        M.Dropdown.init(dropdowns);
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
        var elems = document.querySelectorAll('.collapsible');
        M.Collapsible.init(elems);
        //@@formatter:off
        @with? (flash = (Map < String, Object >) locals.get("flash")){
        @if("ok".equals(flash.get("transfer"))){
            M.toast({html: "Ребёнок переведён в другой класс"})
        } else if("ok".equals(flash.get("delete"))){
            M.toast({html: "Ребёнок отчислен"})
        }
        }
        //@@formatter:on
    });
    let triggerMove = function (id) {
        u(".j_move_student_" + id).each(function (node) {
            u(node).toggleClass('hide')
        })
    };
    let deleteStudent = function (form) {
        if (confirm("Вы уверены что ученик исключён? Действие нельзя обратить")) {
            form.submit();
        }
    };
</script>
}
@views.basic.template("Классы", extrajs) -> {
<div>
    <div class="row">
        <div class="col s10 offset-s1">
            <div class="fixed-action-btn">
                <a class="btn-floating btn-large waves-effect waves-light red modal-trigger pulse"
                   href="#create-degree"><i
                        class="material-icons">add</i></a>
            </div>

            <div id="create-degree" class="modal modal-fixed-footer">
                <div class="modal-content">
                    <h4>Добавление класса</h4>
                    <form action="/priv/admin/degrees" class="col s12" method="post">
                        <div class="row">
                            <div class="input-field  col s12">
                                <select name="degreeNo" id="degreeNo" class="validate" required>
                                    <option value="no" selected disabled>Выберите номер класса</option>
                                    @for(degree:allowedDegrees){
                                    <option value="@degree">@degree</option>
                                    }
                                </select>
                                <label for="degreeNo">Номер класса</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field  col s12">
                                <select name="degreeLetter" id="degreeLetter" class="validate" required>
                                    <option value="no" selected disabled>Выберите букву класса</option>
                                    @for(letter:allowedLetters){
                                    <option value="@letter">@letter</option>
                                    }
                                </select>
                                <label for="degreeLetter">Буква класса</label>
                            </div>
                        </div>
                        <input type="hidden" value='@locals.get("csrf")' name="csrf">
                        <div class="row">
                            <div class="col s4 valign-wrapper input-field">
                                <button class="btn waves-effect waves-light" type="submit">Создать
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <ul class="collapsible " data-collapsible="accordion">
                    @for(degree:degrees){
                    <li>
                        <div class="collapsible-header">@degree.getFirst().getFullGradeName()</div>
                        <div class="collapsible-body">
                            <table class="bordered responsive-table">
                                <thead>
                                <tr>
                                    <th>Родитель</th>
                                    <th>Ребёнок</th>
                                    <th width="12%"></th>
                                    <th width="1%"></th>
                                </tr>
                                </thead>

                                <tbody>
                                @with(parentsWithChildren=degree.getSecond()){
                                @for(parentWithChildren:parentsWithChildren){
                                @if(parentWithChildren.getParent()!=null){
                                @for((i,child):parentWithChildren.getChildren()){
                                <tr>
                                    @if(i.index()==0){
                                    <td rowspan="@parentWithChildren.getChildren().size()">
                                        @parentWithChildren.getParent().getDisplayName()
                                    </td>
                                    }
                                    <td>@child.getDisplayName()</td>
                                    <td>
                                        <button class="btn waves-effect j_move_student_@i.index()" onclick="triggerMove(@i.index())" title="Перевести в другой класс">
                                            <i class="material-icons">transfer_within_a_station</i>
                                        </button>
                                        <form class="j_move_student_@i.index() hide" method="post" action="/priv/admin/student/move/@child.getId()">
                                            <div class="input-field col s12">
                                                <select name="newDegree" onchange="this.form.submit()">
                                                    <option value="" disabled selected>Выберите класс</option>
                                                    @for(existingDegree:existingDegrees){
                                                    @if(!existingDegree.getSecond().equals(degree.getFirst().getFullGradeName())){
                                                    <option value="@existingDegree.getFirst()">@existingDegree.getSecond()</option>
                                                    }
                                                    }
                                                </select>
                                                <label>Перевести</label>
                                            </div>
                                            <input type="hidden" value='@locals.get("csrf")' name="csrf">
                                        </form>
                                    </td>
                                    <td>
                                        <form method="post" action="/priv/admin/student/delete/@child.getId()">
                                            <button class="btn waves-effect red" type="button" onclick="deleteStudent(this.form)" title="Отчислить">
                                                <i class="material-icons">delete</i>
                                            </button>
                                            <input type="hidden" value='@locals.get("csrf")' name="csrf">
                                        </form>
                                    </td>
                                </tr>
                                }
                                }
                                }
                                }
                                </tbody>
                            </table>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
}