@import com.fizzed.rocker.Rocker
@import java.util.Collection
@import org.ort.school.app.repo.UserDTO
@import org.pac4j.core.profile.CommonProfile

@args (Collection<UserDTO> users)

<!DOCTYPE html>
<html class="has-navbar-fixed-top">
@views.partials.head.template()
<body>
@views.partials.nav.template()
<h2>some</h2>
@views.partials.scripts.template()
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selects = document.querySelectorAll('select');
        var instances = M.FormSelect.init(selects);
        var dropdowns = document.querySelectorAll('.dropdown-trigger');
        var instances2 = M.Dropdown.init(dropdowns);
        var modals = document.querySelectorAll('.modal');
        var instances3 = M.Modal.init(modals);
    });
</script>
</body>
</html>