@import com.fizzed.rocker.Rocker
@import java.util.Collection
@import org.ort.school.app.repo.UserDTO
@import org.pac4j.core.profile.CommonProfile

@args (Collection<UserDTO> users)

@views.basic.template("Пользователи") -> {
<div>
    <div class="row">
        <div class="col s10 offset-s1">
            <table class="highlight responsive-table">
                <thead>
                <tr>
                    <td width="20%">Имя пользователя</td>
                    <td width="58%">Полное имя</td>
                    <td width="20%">Роль</td>
                    <td width="1%"></td>
                    <td width="1%"></td>
                </tr>
                </thead>
                <tbody>
                @for(user:users){
                <tr>
                    <td>@user.getUsername()</td>
                    <td>@user.getDisplayName()</td>
                    <td>@if(user.getRole().equals("admin")){Администратор} else {Автор}</td>
                    <td><a class="waves-effect waves-light btn-floating" href="/priv/user/@user.getUsername()/edit"
                           title="Изменить"><i
                            class="material-icons">edit</i></a></td>
                    <td>
                        @if(!user.getRole().equals("admin") || users.stream().filter(it -> it.getRole().equals("admin")).count() > 1) {
                        @with(profile = (CommonProfile)locals.get("profile")) {
                        @if(!profile.getUsername().equals(user.getUsername())) {
                        <a class="waves-effect waves-light btn-floating red"
                           onclick="deleteUser('@user.getUsername()')"
                           title="Удалить">
                            <i class="material-icons">delete</i>
                        </a>
                        }
                        }
                        }
                    </td>
                </tr>

                }
                </tbody>
            </table>
            <a href="/priv/user/new" class="waves-effect waves-light btn-large"><i class="material-icons left">add</i>Создать нового</a>
            <script src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
            <script type="application/javascript">
                const deleteUser = function (username) {
                    if (confirm("Вы уверены что пользователя " + username + " нужно удалить?")) {
                        $.ajax({
                            url: "/priv/user/" + username + "/delete",
                            type: 'DELETE',
                            success: function (result) {
                                window.location.reload(true)
                            }
                        })
                    }
                };
            </script>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var selects = document.querySelectorAll('select');
        var instances = M.FormSelect.init(selects);
        var dropdowns = document.querySelectorAll('.dropdown-trigger');
        var instances2 = M.Dropdown.init(dropdowns);
        var modals = document.querySelectorAll('.modal');
        var instances3 = M.Modal.init(modals);
    });
</script>
}